typer>=0.9.0
rich>=13.7.0
frida
frida-tools
jnitrace
objection
prompt_toolkit
adb-shell
scrcpy
requests
python-dotenv
geoip2
maxminddb
plotext
beautifulsoup4
pygame==2.5.2
mutagen==1.47.0
httpx==0.26.0